--swiftversion 6.1
--disable redundantSelf
--indent 4
--indentcase false
--trimwhitespace always
--commas always
--semicolons never
--linebreaks lf
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line
--enable blankLineAfterSwitchCase
--enable consistentSwitchCaseSpacing
--decimalgrouping 3,5
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
