<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleOAuthClientID</key>
	<string>YOUR_GOOGLE_OAUTH_CLIENT_ID_HERE</string>
	<key>RedirectScheme</key>
	<string>YOUR_REVERSED_CLIENT_ID_HERE</string>
	<key>Environment</key>
	<string>development</string>
</dict>
</plist>
